body,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  min-width: 1280px;
  background-color: #eae8eb;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  outline: none;
}

/* 下箭头 */
.icon-arrow-down {
  display: inline-block;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #888;
}
/* 鼠标手指样式 */
.pointer {
  cursor: pointer;
}
/* 宽与高 */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
/* 激活样式 */
.active {
  color: #f22e00;
}