:root
  color #232628
  font-family tahoma, arial, "Microsoft YaHei", "Hiragino Sans GB", sans-serif
  font-size 14px

body
ul
p
img
h3
h4
  margin 0
  padding 0
  box-sizing border-box

body
  min-width 1200px

a
  text-decoration inherit
  color inherit

ul
  list-style none

.block-center
  margin 0 auto

.transition
  transition .2s

.hover:hover
  color #ff734c

.text-overflow-ellipsis
  max-width 100%
  overflow hidden
  text-overflow ellipsis
  white-space nowrap