* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* 导航栏字体颜色 */
    color: #fff;
    /* 导航栏背景颜色 */
    background-color: #000;
    border-bottom: 1px solid #fff3;
    z-index: 9;
}

nav img {
    height: 40px;
    object-fit: cover;
    background-color: #fff;
}

nav div.menu {
    display: flex;
    height: 40px;
}

nav div.menu > div,
nav div.menu > div a {
    position: relative;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

nav div.menu > div a:hover {
    background-color: #fff3;
}

nav div.menu > div a.active {
    color: #000;
    background-color: #fff;
}

nav div.menu > div:hover > div {
    display: block;
}

nav div.menu > div > div {
    display: none;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #000;
    border: 1px solid #fff3;
}
