:root {
  --color: #000;
  --page-bg: #eee;
  --page-bg-reverse: #333;
  --page-bg-opactiy: #effbff88;
  --text-color: #000;
  --nav-bg: #eee;
  --border-color: #ddd;
  --shadow-light: #ccc;
  --nav-shadow-light: #fff;
  --nav-shadow-dark: #ccc;
  --fillet: .8rem;
  --prominent: #888;
  --blur: 1rem;
}