/* 清除默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 强制拉伸 */
html,
body {
    width: 100%;
    height: 100%;
}

/* 全局设置 */
body {
    background-color: rgb(74 86 96);
    font-family: microsoft yahei light, microsoft yahei, PingFangSC-Regular, Helvetica, sans-serif, 等线;
    overflow: hidden;
}

/* 背景 */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center no-repeat;
    object-fit: cover;
    transition: .3s;
    z-index: -1;
}

/* 遮罩层 */
.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
    transform: .3s;
    z-index: 0;
}

/* 时间 */
.time {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    margin: auto;
    width: 92px;
    text-align: center;
}

.time h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    text-shadow: 0 0 18px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: .3s;
}

.time h1:hover {
    transform: scale(1.1);
}

/* 搜索框 */
.search {
    position: absolute;
    top: 172px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .4;
    width: 256px;
    height: 42px;
    outline: none;
    border: 0;
    border-radius: 30px;
    text-align: center;
    transition: .2s;
}

/* 关键词 */
.keywords {
    position: absolute;
    top: 246px;
    left: 0;
    right: 0;
    margin: auto;
    width: 512px;
    max-height: 600px;
    border-radius: 8px;
    box-shadow: rgb(34, 34, 34) 0px 0px 16px;
    background: #fff7;
    overflow: hidden;
    transition: .3s;
}

.keywords a {
    display: block;
    width: 100%;
    height: 42px;
    color: #000;
    text-decoration: none;
    text-indent: 16px;
    line-height: 42px;
    transition: .2s;
    cursor: pointer;
}

.keywords a:hover {
    text-indent: 32px;
    background-color: #fff;
}

@media screen and (max-width:512px) {

    /* 关键词 */
    .keywords {
        width: 90%;
        background: #fffa;
    }
}