nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: var(--nav-bg);
  backdrop-filter: blur(1rem);
  border-bottom: 1px solid var(--border-color);
  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li.page {
  margin: 0 .6rem;
  padding: .2rem 1rem;
  box-shadow: none;
  border: 0;
  border-radius: var(--fillet);
  border: 1px solid var(--border-color);
}

nav ul li span {
  display: inline-block;
  padding: .2rem 1rem;
  border: 0;
  border-radius: var(--fillet);
  box-shadow: .3rem .3rem .5rem var(--nav-shadow-dark), -.2rem -.2rem .5rem var(--nav-shadow-light);
  cursor: pointer;
}

nav ul li span:hover {
  box-shadow: inset .3rem .3rem .5rem var(--nav-shadow-dark), inset -.3rem -.3rem .5rem var(--nav-shadow-light);
}

nav ul.left li.favorite {
  margin: 0 .6rem;
}

nav ul.left li.login {
  margin-left: .6rem;
}

nav ul.left li span,
nav ul.left li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul.left li span a {
  color: inherit;
  text-decoration: inherit;
}

nav ul li.active span {
  box-shadow: inset .3rem .3rem .5rem var(--nav-shadow-dark), inset -.3rem -.3rem .5rem var(--nav-shadow-light);
}

@media screen and (max-width: 600px) {
  nav {
    font-size: 14px;
    height: 5rem !important;
    flex-flow: column wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
  nav ul.right {
    margin-top: .5rem
  }
  nav ul li span {
    padding: .2rem .8rem;
  }
}
